section {
    display: flex;
    justify-content: space-evenly;
}
#mapid, #layerControls {
    background: lightgrey;
    height: 700px;
    margin: 5px;
    box-shadow: 1px 1px 20px black;
}
#mapid {
    width: 65%;
    border: 1px solid black; 
    padding: 20px;
}
#layerControls {
    width: 25%;
    padding: 10px;
    border-radius: 5px;
}
.staticLabel {
    background: none;
    border: none;
    box-shadow: none;
    color: whitesmoke;
    font-weight: bold;
}